body {
    background-color: gainsboro;
  }
  
  h1 {
    font-size: 50px;
    color: plum;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(82, 82, 180);
    text-align: center;
  }
  
  h2 {
    font-size: 35px;
    color: plum;
    text-align: center;
  }
  
  p {
    font-size: 25px;
    color: rgb(82, 82, 180);
    padding-left: 200px;
  }

  h3 {
    font-size: 20px;
    padding-left: 250px;
  }
  
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(99, 99, 150);
    padding-top: 20px;
  }

  .sidenav a{
    padding: 10px 12px 10px 20px;
    color: plum;
    padding-right: 15px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(71, 71, 180);
    text-align: center;
    font-size: 20px;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }

  .sidenav a:hover {
    color: rgb(50, 50, 88);
  }